.highlight {
    background-color: rgb(240, 240, 164);
}

.custom-table {
    border-collapse: collapse;
}

.custom-table th {
    padding: 20px;
}

.custom-table td {
    padding: 10px;
}


.modal {
    display: block !important;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 800px;
    overflow-y: auto;
}