<div
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    style="
      overflow-y: scroll;
      max-height: 85%;
      margin-top: 50px;
      margin-bottom: 50px;
    "
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          {{ driverAndYear.year }} Season winners
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.close('Close click')"
        ></button>
      </div>

      <div class="modal-body">
        <input
          type="text"
          [(ngModel)]="searchString"
          (keyup)="onSearch($event.target)"
          placeholder="Search by race name"
        />
        <form>
          <div class="mb-3">
            <table class="custom-table">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th style="width: 1000px">Winner and Race Info</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let race of races; let i = index"
                  [ngClass]="{
                    highlight:
                      race.Results[0].Driver.driverId.toLowerCase() ===
                      driverAndYear.Driver.driverId.toLowerCase()
                  }"
                >
                  <td>{{ i + 1 }}</td>
                  <td>
                    <h5>
                      <a [href]="race.Results[0].Driver.url" target="_blank">
                        {{ race.Results[0].Driver.givenName }}
                        {{ race.Results[0].Driver.familyName }}
                      </a>
                    </h5>
                    <small>
                      Born: {{ race.Results[0].Driver.dateOfBirth }} /
                      Nationality: {{ race.Results[0].Driver.nationality }}
                    </small>
                    <a
                      [href]="race.Results[0].Constructor.url"
                      class="d-block"
                      target="_blank"
                    >
                      {{ race.Results[0].Constructor.name }} /
                      {{ race.Results[0].Constructor.nationality }}
                    </a>
                    <h6>{{ race?.raceName }}, Round {{ race?.round }}</h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
